<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href ="add"> Add  a Message</a><br/>
<table>
    <tr>
        <th>Content</th>
        <th> Posted Date</th>
        <th>Sent By</th>
        <th> Actions</th>

    </tr>
    <tr th:each ="message: ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.posteddate}"></td>
        <td th:text="${message.sentby}"></td>
        <td>
            <a th:href=""@{update/>(id){id=${course.id}}}">Update<a/>
            <a th:href=""@{detail/>(id){id=${course.id}}}">Details<a/>
        </td>
    </tr>
</table>

</body>
</html>